@import "tailwindcss";

:root {
    --primary: #34d399;
    --dark: #111827;
    --dark-grey: #1f2937;
    --grey: #79808c;
    --light-grey: #374151;
    --delete: #ef4444;
}

@theme {
    --color-primary: var(--primary);
    --color-dark: var(--dark);
    --color-dark-grey: var(--dark-grey);
    --color-grey: var(--grey);
    --color-light-grey: var(--light-grey);
    --color-delete: var(--delete);
}

@layer {
    .navbar__item a {
        @apply
            block py-2 px-4 font-medium cursor-pointer
            sm:text-lg
            hover:text-grey;
    }

    h1 {
        @apply text-xl sm:text-3xl font-semibold;
    }

    .btn {
        @apply block py-3 px-4 rounded-lg max-w-fit font-semibold cursor-pointer;
    }

    .btn--primary {
        @apply bg-primary hover:bg-primary/80;
    }

    .btn--delete {
        @apply bg-delete hover:bg-delete/80;
    }

    .btn--small {
        @apply text-base py-2 px-3 sm:py-3 sm:px-4;
    }
}

body {
    background-color: var(--dark-grey);
    color: #FFF;
    font-family: "Poppins", sans-serif;
}